
@{
    ViewBag.Title = "Index";
}

<h2>Afisare Produse</h2>
<br />
<hr />
<br />
@foreach(var product in ViewBag.Products)
{
    <div class="panel panel-default">
        <div class="panel-heading"><div class="btn btn-info">@product.ProductName</div><div class="pull-right btn btn-primary">@product.Price Lei</div></div>
        <div class="panel-body">
            <div>Vandut de: @product.UserId</div>
            <div>@product.Category.CategoryName</div>
            <div class="btn btn-default">Rating: @product.Rating</div><br />
            <p>
                <a class="pull-left btn btn-success" href="/Product/Show/@product.ProductId">Deschidere</a>
                <a class="pull-right btn btn-danger" href="/Product/Delete/@product.ProductId">Sterge</a>
            </p>
        </div>

    </div>




    
}
<hr />
<br /><br />

<a href="/Product/New">Adauga Produs</a>
